.box1 {
  position: relative;
  top: 350px;
  width: 200px;
  height: 200px;
  text-align: center;
  margin:  auto;
  border-radius:5px;
}

#a1 {
  background:gold;
}

#a2 {
  background:deepskyblue;
}

#tupian2 {
  position: absolute;
  top: 0px;
}
